<%- model_class = Gist -%>

<form class="navbar-form navbar-center" controller="gists" role="search" action="/gists/search">
              <div class="form-group">
                <%= form_tag gists_path, :method => 'get' do %>
                <%= (text_field_tag :lang, params[:lang], :size=>"20", class:'form-control') %>             
<br><br><%= button_tag(type: 'submit', class: "btn btn-primary") do %>
  <span class="glyphicon glyphicon-search"> by language</span> 
<% end %>
<% end %>
              </div>
            </form>

<br>


<div class="jumbotron">
  <h1>Store your code. </h1>
  <p>Here you can keep own code snippets. Try it for free! </p>
 <%= link_to 'New Gist', new_gist_path, :class => "btn btn-primary btn-lg" %>
</div>

<h2>All magic codes</h2>
<span class="glyphicon glyphicon-star" style="color: #CD1076;">
</span>
<span class="glyphicon glyphicon-star" style="color: #CD1076">
</span>
<span class="glyphicon glyphicon-star" style="color: #CD1076">
</span>
<br><br>

<div id="my-gists">
 <%= render @gists %>
</div>

<div id="infinite-scrolling" style="visibility: hidden;">
<%= will_paginate %>
</div>

 
