
<div class="pokaz">

<br>

<% if notice %>
    <p class="alert alert-info"><%= notice %></p>
<% end %>

<h1><b>Show gist<b></h1>


<br>

<p>
  <strong>Your snippet:</strong>
</p>
  <%= raw Pygments.highlight(@gist.snippet, lexer: @gist.lang)  %>
<p>
  <strong>Name of programming language:</strong>
 <%= @gist.lang %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gist.description %>
</p>


<br>

<div class="btn-group">
<%= link_to 'Edit', edit_gist_path(@gist), :class=>"btn btn-default" %>  
<%= link_to 'Back', gists_path, :class=>"btn btn-default" %>
</div>

</div>
